API_ID=28174304 # get this value from my.telegram.org
API_HASH=227eae8466b8f68565060906069ca9e5 # get this value from my.telegram.org
BOT_TOKEN=jajajajajja # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1002501537139 # get this value from in your log group 
MUSIC_BOT_NAME=nothing # your music bot name 
STRING_SESSION=string
